header {
   boder-bottom:solid 3 px #ca9c11 ;
  padding: 10 px;
  font-size 22 px;
  color: white;
}
body{
  background-color:#f892f8 }
h1{ color: #ff66ff }
P{
  font-Size: 16 px;
  color:  ;
}


